@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif ;
}
body{
    background-image: url(/image/ai-generated-8287237_1920.png);
    background-attachment: fixed;
}

/*HOME*/

.home{
    display: flex;
    min-height: calc(100vh - 100px);
    position: relative;
    justify-content: flex-start;
      
}
.cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    padding-left: 5%;
}

.titulo{
    font-size: 4rem;
    color: aliceblue;

}

.cta .descricao{
    font-size: 1.2rem;
    color: #ff6e27;
}



@media screen and (max-width: 720px) {
    .home{
        min-height: 100%;
    }    
    .cta{
        width: 100%;
        text-align: center;
        align-items: center;
        
    }
    .cta .title{
        font-size: 2.5rem;
    }
    .cta .descricao{
        font-size: 2rem;
    }
    .quemsou{
        min-height: 100%;

        
    } 
    .box-texto{
        min-width: 100%;
        width:100%;
        text-align: center;
        align-items: center;
        
    }
    .box-texto .titulo-texto{
        font-size: 2.5rem;
    }
    .box-texto .texto{
        font-size: 2rem;
    }
    .nav-item a{
        font-size: 14px;
    }
    .projetos{
        margin-top: 5%;
        min-height: 100%;
    }
    .projetos-box{
        width: 100%;
        min-width: 100%;
        text-align: center;
        align-items: center;
        margin-top: 1%;
    }
    .cards{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .contato{
        min-height: 100%;
          
    }
    .contato-box{
        width: 100%;
        text-align: center;
        align-items: center;
        
        min-width: 100%;
    }
    .contato-titulo{
        font-size: 4rem;
        color: aliceblue;
    }

/* QUEM SOU */
}
.quemsou{
    display: flex;
    min-height: calc(100vh - 100px);
    position: relative;
    justify-content: flex-start;
      
}

.box-texto{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    padding-left: 5%;
}
.titulo-texto{
    font-size: 4rem;
    color: aliceblue;
}

.box-texto .texto{
    font-size: 1.2rem;
    color: #ff6e27;
}

/* PROJETOS */

.projetos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    margin-top: 20%;
    
}
.projetos-box{
    width: 35%;
    display: flex;
    flex-direction: column;
    /* gap: 28px; */
    margin-top: 5%; 
}

.cards {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 100px;
    margin-top: 5%;
    /* margin-left: 10%; */
    /* flex-wrap: wrap; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 400px;
    padding: 20px;
    background-color: #ff6f27c0;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px rgb(190, 22, 190);
}

.projetos-titulo{
    font-size: 4rem;
    color: aliceblue;
}

.projetos-subtitulo{
    font-size: 1.2rem;
    color: #ff6e27;
}

.card-image {
    border-radius: 50px;
}
.card-buttom{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn{
    
    display: flex;
    justify-content: center;
}

.card-buttom .btn-default{
    background-color: rgb(190, 22, 190);
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
    justify-content: center;
    border: none;
    width: 80%;  
}
.btn .btn-default p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.card-buttom a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Poppins';
    font-size: 18px;
}

/* CONTATO */
.contato{
    display: flex;
    min-height: calc(100vh - 100px);
    position: relative;
    justify-content: flex-start;
    margin-top: 15%;
      
}
.contato-box{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 3%;
    padding-left: 5%;
}
.contato-titulo{
    font-size: 4rem;
    color: aliceblue;
}
.contato-texto{
    font-size: 1.2rem;
    color: #ff6e27;
}
.contato-box div{
    display: flex;
    justify-content: space-evenly;
}
.contato-box div i{
    color: #ff6e27;
    font-size: 50px;
}
/* FOOTER */
footer {
    background-color:aliceblue;
}

.footer-itens {
    display: flex;
    justify-content: space-between;
    padding: 20px 8% 24px 8%;
}
.footer-itens div i{
    color: #ff6e27;
}

.copyright {
    color: #ff6e27;
    font-weight: 500;
}
